.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightblue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 50;
    }
    
    .sidebar a {
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    display: block;
    transition: 0.5s;
    cursor: pointer;
    color: black;
    }
    
    .sidebar .closebtn {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 25px;
    font-size: 36px;
    }
    
    .openbtn {
    font-size: 24px;
    cursor: pointer;
    background-color: lightblue;
    }
    
    table, td, th {
        border: 2px solid black;
      }
      
      table {
        margin-left: 200px;
        border-collapse: collapse;
        width: 80%;
        text-align: center;
        left: 70px;
      }